{% extends 'base.html' %}
{% block title %} MyUser Edit {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="row">
            <div class="col">
                {% if request.user.status == 1 %}
                    <h3>Edycja danych: {{ my_user.first_name }} {{ my_user.last_name }}</h3>
                {% else %}
                    <h3>Edycja danych</h3>
                {% endif %}
            </div>
        </div>
        <form class="form-control" action="" method="POST">
            {% if message %}
                <h4 class="text-danger">{{ message }}</h4>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Potwierdź">
                </div>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-danger" onclick="history.back();">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}