{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Reservation Update {% endblock %}
{% block content %}
    <div class="container my-div-container">
        <div class="row my-div-header">
            <div class="col">
                <h4>Edycja rezerwacji: <b>pokój nr {{ object.room }}, {{ object.patient }}</b></h4>
            </div>
        </div>
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="row my-form-div-row">
                        <div class="col my-form-div-error">
                            <p><strong>{{ error }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row my-form-div-row">
                <div class="col-6">
                    {{ form.start_date|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.end_date|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-div-row">
                <div class="col-12">
                    {{ form.message|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-div-row">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Zapisz">
                </div>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-danger" href="{{ request.GET.next }}">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}