{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Reservation Edit {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="row">
            <div class="col">
                <h3>Edycja rezerwacji: pokój nr {{ object.room }}, pacjent {{ object.patient }}</h3>
            </div>
        </div>
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="row my-form-row">
                        <div class="col" style="color: #CC0000;">
                            <p><strong>{{ error }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row my-form-row">
                <div class="col-6">
                    {{ form.start_date|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.end_date|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-row">
                <div class="col-12">
                    {{ form.message|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-row">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Zapisz">
                </div>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-danger" href="{% url 'reservation' %}?month_look={{ request.GET.selected_month }}">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}