{% extends 'base.html' %}
{% block title %} Reservation Delete {% endblock %}
{% block content %}
    <div class="container my-div-container">
        <div class="row my-div-header">
            <div class="col">
                <h4>Potwierdź usunięcie rezerwacji</h4>
            </div>
        </div>
        <form class="form-control" action="" method="POST">
            {%  csrf_token %}
            {{ form.as_p }}
            <div class="row my-form-div-row">
                <div class="col">
                    <table class="table">
                        <tbody>
                            <tr class="d-flex">
                                <th scope="col" class="col-3">Pacjent</th>
                                <td class="col">{{ object.patient }}</td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="col" class="col-3">Data rozpoczęcia</th>
                                <td class="col">{{ object.start_date|date:"j E Y" }}</td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="col" class="col-3">Data zakończenia</th>
                                <td class="col">{{ object.end_date|date:"j E Y" }}</td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="col" class="col-3">Nr pokoju:</th>
                                <td class="col">{{ object.room }}</td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="col" class="col-3">Notatka:</th>
                                <td class="col">{{ object.message }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row my-form-div-row">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Potwierdź">
                </div>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-danger" href="{{ request.GET.next }}">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}