{% extends 'base.html' %}
{% block title %} Reservation {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="row">
            <div class="col">
                <h3>Terminarz</h3>
            </div>
        </div>
        <form class="my-form" action="" method="GET">
            <div class="row">
                <div class="col">
                    <b>{{ month_look|date:"F Y"}}</b>
                    {% if change_month.0 %}
                        <a class="btn btn-success" href="/reservation/?month_look={{ change_month.0 }}">&lt; Poprzedni</a>
                    {% endif %}
                    {% if change_month.1 %}
                        <a class="btn btn-success" href="/reservation/?month_look={{ change_month.1 }}">Następny &gt;</a>
                    {% endif %}
                </div>
                <div class="col d-flex justify-content-end">

                    <label for="month_look"></label>
                    <select class="custom-select" id="month_look" name="month_look">
                        {% for month in month_list %}
                        <option value="{{ month.1 }}" {% if month.0 == month_look %} selected {% endif %}>
                            {{ month.0|date:"F Y" }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-success my-month-button"> Pokaż </button>
                </div>
            </div>
        </form>
        <table class="table table-bordered my-table-border" style="table-layout:fixed">
            <thead>
            <tr>
                <th class="col-2 text-center" rowspan="3">Numer pokoju</th>
                {% for week in month_look_list.0 %}
                    <th colspan="7" class="text-center"> {{ week }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for day in month_look_list.2 %}
                    <th class="text-center">{{ day }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for day in month_look_list.1 %}
                    <td class="text-center">{{ day|date:"j" }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
                <tr>
                    <td><p class="my-table-room-list">{{ room }}</p></td>
                    {% for item in room.reserve %}
                        {% if item.0 %}
                            <td colspan="{{ item.1 }}" style="background-color: #6ebe96;">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">{{ item.2.patient }}</a>
                                <div class="dropdown-menu">
                                    <span class="dropdown-item"><b>{{ item.2.patient }}</b></span>
                                    <span class="dropdown-item"><b>Od {{ item.2.start_reservation|date:"Y-m-d" }}
                                        do {{ item.2.end_reservation|date:"Y-m-d" }}</b></span>
                                    <a class="dropdown-item" href="/reservation_edit/{{ item.2.id }}/">Edytuj</a>
                                    <a class="dropdown-item" href="/reservation_delete/{{ item.2.id }}/">Usuń</a>
                                    <a class="dropdown-item" href="/reservation/{{ item.2.patient.id }}/">Wszystkie</a>
                                </div>
                            </td>
                        {% else %}
                            <td colspan="{{ item.1 }}">
                                {% if item.1 > 2 %}
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false"></a>
                                <div class="dropdown-menu">
                                    <span class="dropdown-item"><b>Wolny termin</b></span>
                                    <span class="dropdown-item"><b>Od {{ item.2 }} do {{ item.3 }}</b></span>
                                    <a class="dropdown-item"
                                       href="/reservation_add/?room={{ room.id }}&start={{ item.2 }}&end={{ item.3 }}">Dodaj</a>
                                </div>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}