{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Reservation Add {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="row">
            {% if reservation %}
                <div class="col">
                    <h3>Edycja rezerwacji: {{ room }}</h3>
                </div>
            {% else %}
                <div class="col">
                    <h3>Rezerwacja: {{ room }}</h3>
                </div>
            {% endif %}
        </div>
        <form class="form-control" action="" method="POST">
            {% if message %}
                <div class="row my-form-row">
                    <h4 class="text-danger">{{ message }}</h4>
                </div>
            {% endif %}
            {% csrf_token %}
            <input type="hidden" name="room_id" value="{{ room.id }}">
            <input type="hidden" name="start" value="{{ start }}">
            <input type="hidden" name="end" value="{{ end }}">
            <div class="row my-form-row">
                <div class="col-6 form-group">
                    <label for="id_patient" class=" requiredField">Pacjent*</label>
                    <select name="patient_id" class="select form-control" id="id_patient" required>
                        <option value="">---------</option>
                        {% for patient in patient_list %}
                            <option value="{{ patient.id }}" {% if reservation.patient == patient %} selected {% endif %}>
                                {{ patient }}
                            </option>
                        {% empty %}
                            <option value="0">Brak pacjentów w bazie</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row my-form-row">
                <div class="col-6 form-group">
                    <label for="id_start_reservation">Data rozpoczęcia*</label>
                    <input type="date" name="start_reservation" class="dateinput form-control" id="id_start_reservation"
                            required max="{{ end }}" min="{{ start }}"
                                {% if reservation %}
                                    value="{{ reservation.start_reservation_change }}"
                                {% else %}
                                    value="{{ month_start }}"
                                {% endif %}>
                </div>
                <div class="col-6 form-group">
                    <label for="id_end_reservation">Data zakończenia*</label>
                    <input type="date" name="end_reservation" class="dateinput form-control" id="id_end_reservation"
                           required max="{{ end }}" min="{{ start }}"
                                {% if reservation %}
                                    value="{{ reservation.end_reservation_change }}"
                                {% else %}
                                    value="{{ month_end }}"
                                {% endif %}>
                </div>
            </div>
            <div class="row my-form-row">
                <div class="col form-group">
                    <label for="id_message">Notatka</label>
                    <textarea name="message" rows="5" class="textarea form-control" id="id_message"
                    >{% if reservation %}{{ reservation.message }}{% endif %}</textarea>
                </div>
            </div>
            <div class="row my-form-row">
                <div class="col">
                    {% if reservation %}
                        <input type="submit" name="button" class="btn btn-success" value="Zapisz">
                    {% else %}
                        <input type="submit" class="btn btn-success" value="Dodaj">
                    {% endif %}
                </div>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-danger" onclick="history.back();">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}