{% extends 'base.html' %}
{% block title %} Reservation {% endblock %}
{% block content %}
    <div class="container my-div-container">
        <div class="row my-div-header">
            <div class="col">
                <h4>Terminarz - <b>{{ selected_date|date:"F Y"}}</b></h4>
            </div>
        </div>
        <div class="row my-div-header">
            <div class="col">      
                {% if change_month.0 %}
                    <a class="btn btn-success"
                       href="{% url 'reservation' %}?month_look={{ change_month.0|date:'Y-m' }}">&lt; Poprzedni</a>
                {% endif %}
                {% if change_month.1 %}
                    <a class="btn btn-success"
                       href="{% url 'reservation' %}?month_look={{ change_month.1|date:'Y-m' }}">Następny &gt;</a>
                {% endif %}
            </div>
            <div class="col d-flex justify-content-end">
                <form action="{% url 'reservation' %}" method="GET">
                    <label for="month_look">Wybierz:</label>
                    <select class="custom-select" id="month_look" name="month_look">
                        {% for month in month_list %}
                        <option value="{{ month|date:'Y-m' }}" {% if month == selected_date %} selected {% endif %}>
                            {{ month|date:"F Y" }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-success">Wybierz</button>
                </form>
            </div>
        </div>
        <table class="table my-table-border my-table-reservation">
            <thead>
                <tr>
                    <th class="my-table-reservation-room-list" rowspan="3">Numer pokoju</th>
                    {% for week in selected_month_list.0 %}
                        <th class="my-table-reservation-header" colspan="7"> {{ week }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for day in selected_month_list.1 %}
                        <th class="my-table-reservation-header">{{ day }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for day in selected_month_list.2 %}
                        <th class="my-table-reservation-header">{{ day|date:"j" }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
                <tr>
                    <th class="my-table-reservation-room-list"><p>{{ room }}</p></th>
                    {% for item in room.reserve %}
                        {% if item.0 %}
                            <td class="my-table-reservation-element 
                                {% if item.3.0 %} my-table-reservation-element-left {% endif %}
                                {% if item.3.1 %} my-table-reservation-element-right {% endif %}" 
                                colspan="{{ item.1 }}">
                                <a class="nav-link dropdown-toggle my-table-reservation-cursor" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">{% if item.1 > 2 %}{{ item.2.patient.last_name }}{% endif %}</a>
                                <div class="dropdown-menu">
                                    <span class="dropdown-item"><b>{{ item.2.patient }}</b></span>
                                    <span class="dropdown-item"><b>Od {{ item.2.start_date }} do {{ item.2.end_date }}</b></span>
                                    <a class="dropdown-item"
                                       href="{% url 'reservation-update' pk=item.2.id %}?next={{ request.get_full_path }}">Edytuj</a>
                                    <a class="dropdown-item"
                                        href="{% url 'reservation-delete' pk=item.2.id %}?next={{ request.get_full_path }}">Usuń</a>
                                    <a class="dropdown-item"
                                       href="{% url 'user-reservation' pk=item.2.patient.id %}">Wszystkie</a>
                                </div>
                            </td>
                        {% else %}
                            <td colspan="{{ item.1 }}" class="my-table-reservation-free-element">    
                                <a class="nav-link dropdown-toggle my-table-reservation-cursor" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">{% if item.1 > 2 %} Dodaj {% endif %}</a>
                                <div class="dropdown-menu">
                                    <span class="dropdown-item"><b>Wolny termin:</b></span>
                                    <span class="dropdown-item"><b>
                                        {% if item.2 %} od {{ item.2 }} {% endif %} {% if item.3 %} do {{ item.3 }} {% endif %} </b></span>
                                    <a class="dropdown-item"
                                       href="{% url 'reservation-add' %}?room={{ room.id }}&date={% if item.2 > selected_month_list.2|first %}{{ item.2 }}{% else %}{{ selected_month_list.2|first }}{% endif %}&next={{ request.get_full_path }}">Dodaj</a>
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}