{% extends 'base.html' %}
{% load static %}
{% block title %} Timetable {% endblock %}
{% block content %}
    <div class="container my-div-container">
        <div class="row my-div-header">
            <div class="col">
                <h4>Grafik - <b>{{ day_look|date:"l j E Y" }}</b></h4>        
            </div>
        </div>
        <div class="row my-div-header">
            <div class="col">
                {% for day in all_week.0 %}
                    {% if day == day_look %}
                        <a class="btn btn-outline-success" href="{% url 'timetable' %}?day_look={{ day }}">{{ day|date:'l' }}</a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'timetable' %}?day_look={{ day }}">{{ day|date:'l' }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row my-div-header">
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-info" href="{% url 'timetable' %}?day_look={{ all_week.1 }}">&lt; Poprzedni tydzień</a>
                        <a class="btn btn-info" href="{% url 'timetable' %}?day_look={{ all_week.2 }}">Następny tydzień &gt;</a>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <form action="{% url 'timetable' %}" method="GET">
                            <label for="day_look">Miesiąc</label>
                            <select class="custom-select" id="day_look" name="day_look">
                            {% for month in month_list %}
                                <option value="{{ month }}" {% if month|date:'Y-m' == day_look|date:'Y-m' %} selected {% endif %}>
                                    {{ month|date:"F Y" }}
                                </option>
                            {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-success"> Wybierz </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="timetable">
            <div class="col-9">
                <table class="table table-bordered my-table-border">
                    <thead>
                        <tr class="my-table-timetable">
                            <th class="col-3">Rehabilitant</th>
                            <th class="col-3">8:00 - 11:00</th>
                            <th class="col-3">11:00 - 14:00</th>
                            <th class="col-3">14:00 - 17:00</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in timetable_day %}
                            <tr class="my-table-timetable">
                                <td class="col-3 my-table-timetable-employee">{{ employee.0 }}</td>
                                {% for timetable in employee.1 %}
                                    {% if timetable %}
                                    <td class="col-3 my-table-timetable-patient" data-employee_id="{{ employee.0.id }}" 
                                    data-hour="{{ forloop.counter }}" data-date="{{ day_look }}">
                                            <div class="my-timetable-patient-element" id="{{ timetable.patient.id }}" 
                                                data-reservation_id="{{ timetable.reservation.id }}" 
                                                data-timetable_id="{{ timetable.id }}">
                                                {{ timetable.patient }}
                                            </div>
                                    </td>
                                    {% else %}
                                    <td class="col-3 my-table-timetable-patient my-dragdrop" data-employee_id="{{ employee.0.id }}" 
                                    data-hour="{{ forloop.counter }}" data-date="{{ day_look }}">
                                    </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-3 my-dragdrop" id="free-patient">
                {% for patient in patient_free_list %}
                    <div class="my-timetable-patient-element" id="{{ patient.id }}" 
                        data-timetable_id="" data-reservation_id="{{ patient.reservation_id }}">
                        {{ patient }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<script src="{% static 'js/timetable.js' %}"></script>
{% endblock %}