{% extends 'base.html' %}
{% block title %} Timetable User {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="row">
            <h3>Grafik tygodniowy: {{ my_user }} - {{ my_user.get_status_display }}</h3>
        </div>
        <div class="row my-change-div">
            <div class="col">
                <span>Wybrany tydzień:</span>
                <b class="my-change-week">{{ all_week.0.0 }} - {{ all_week.0.1 }}</b>
                <a class="my-change-week" href="/timetable/{{ my_user.id }}/?week_look={{ all_week.0.2 }}">&lt; Poprzedni</a>
                <a class="my-change-week" href="/timetable/{{ my_user.id }}/?week_look={{ all_week.0.3 }}">Następny &gt;</a>
            </div>
        </div>
        <table class="table table-bordered my-table-border">
            <thead>
            <tr>
                <th rowspan="2" class="col-2 text-center my-timetable-table">Godzina</th>
                {% for day in all_week.1 %}
                    <th class="col-2 text-center my-timetable-table">{{ day|date:"l j E" }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th colspan="5" class="col-10 text-center my-timetable-table">
                    {% if my_user.status == 3 %}
                        Rehabilitant
                    {% else %}
                        Pacjenci
                    {% endif %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for hours in timetable_week %}
                <tr>
                    {% for item in hours %}
                        {% if forloop.counter == 1 %}
                            <th class="col-2 text-center my-timetable-table">{{ item }}</th>
                        {% else %}
                            {% if item %}
                                <td class="col-2 my-timetable-table">
                                    <div class="my-patient">{{ item }}</div>
                                </td>
                            {% else %}
                                <td class="col-2 my-timetable-table"></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}