{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Set Password {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="row">
            <div class="col">
                <h3>Ustaw hasło</h3>
            </div>
        </div>
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            <div class="row my-form-row">
                <div class="col-6">
                    {{ form.password_new|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-row">
                <div class="col-6">
                    {{ form.password_repeat|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-row">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Potwierdź">
                </div>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-danger" href="{% url 'index' %}">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}