{% extends 'base.html' %}
{% block title %} User List {% endblock %}
{% block content %}
    <div class="container my-container">
        {% if message_employee %}
            <div class="row">
                <div class="col">
                    <h3>Lista rehabilitantów w bazie danych</h3>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col">
                    {% if message == 'actually_patient' %}
                        <h3>Lista pacjentów obecnych w ośrodku</h3>
                    {% elif message %}
                        <h3>Wyniki wyszukiwania dla: "{{ message }}"</h3>
                    {% else %}
                        <h3>Lista pacjentów w bazie danych</h3>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'patient-list'%}" class="btn btn-success">Wszyscy</a>
                    <a href="{% url 'patient-list'%}?search=actually_patient" class="btn btn-success">Obecni</a>
                </div>
                <div class="col d-flex justify-content-end">
                    <form action="{% url 'patient-list' %}" method="GET">
                        <label class="col-form-label" for="search">Podaj nazwisko: </label>
                        <input  type="text" name="search" id="search" class="my-search-input">
                        <button type="submit" class="btn btn-outline-success">Szukaj</button>
                    </form>
                </div>
            </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr class="d-flex">
                    {% if message == 'actually_patient' %}
                        <th scope="col" class="col-1">POKÓJ</th>
                    {% else %}
                        <th scope="col" class="col-1">LP</th>
                    {% endif %}
                    <th scope="col" class="col-4">IMIĘ I NAZWISKO</th>
                    <th scope="col" class="col-3">EMAIL</th>
                    <th scope="col" class="col-2">NR TELEFONU</th>
                    <th scope="col" class="col-1">AKTYWNY</th>
                    <th scope="col" class="col-1 text-center">#</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                    <tr class="d-flex">
                        <td scope="row" class="col-1">{{ user.counter }}</td>
                        <th scope="row" class="col-4">
                            {% if message == 'actually_patient' or message_employee %}
                                <a href="{% url 'timetable-user' id_user=user.id %}?week_look=0">{{ user }}</a>
                            {% else %}
                                <a href="{% url 'user-reservation' pk=user.id %}">{{ user }}</a>
                            {% endif %}
                        </th>
                        <td scope="row" class="col-3">{{ user.email }}</td>
                        <td scope="row" class="col-2">{{ user.phone }}</td>
                        <td scope="row" class="col-1" style="text-align: center;">
                            {% if user.is_active %}
                                &check;
                            {% else %}
                                &cross;
                            {% endif %}
                        </td>
                        <td scope="row" class="col-1 d-flex align-items-center justify-content-center flex-wrap">
                            <a class="btn btn-outline-danger my-table-button" href="{% url 'user-delete' %}?user_id={{user.id}}">Usuń</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="5">Brak osób w bazie</td></tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <div>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if message %}&search={{ message }}{% endif %}">Poprzednia strona</a>
                        </li>
                    {% endif %}
                    {% if page_obj.number|add:'-2' > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:'-5' }}{% if message %}&search={{ message }}{% endif %}">&hellip;</a>
                        </li>
                    {% endif %}
                    {% if page_obj.paginator.num_pages <= 1 %}
                        {{ pass }}
                    {% else %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ i }}</span>
                                </li>
                            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if message %}&search={{ message }}{% endif %}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:'5' }}{% if message %}&search={{ message }}{% endif %}">&hellip;</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if message %}&search={{ message }}{% endif %}">Następna strona</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}