{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Reset Password {% endblock %}
{% block content %}
    <div class="container my-div-container">
        <div class="row my-div-header">
            <div class="col">
                <h4>Resetuj hasło - uzupełnij pole email i sprawdź skrzynkę pocztową</h4>
            </div>
        </div>
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            <div class="row my-form-div-row">
                <div class="col-6">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-div-row">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Potwierdź">
                </div>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-danger" href="{% url 'login' %}">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}