{% extends 'base.html' %}
{% block title %} User List {% endblock %}
{% block content %}
    <div class="container my-div-container">
        {% if message_employee %}
            <div class="row my-div-header">
                <div class="col">
                    <h4>Lista rehabilitantów</h4>
                </div>
                <div class="col d-flex justify-content-end">
                    <a href="{% url 'user-add'%}?status=employee" class="btn btn-success my-user-add-button">Dodaj</a>
                </div>
            </div>
        {% else %}
            <div class="row my-div-header">
                <div class="col">
                    {% if message == 'actually_patient' %}
                        <h4>Lista pacjentów - <b>obecni</b></h4>
                    {% elif message %}
                        <h4>Lista pacjentów - <b>wyszukiwanie dla: "{{ message }}"</b></h4>
                    {% else %}
                        <h4>Lista pacjentów</h4>
                    {% endif %}
                </div>
                <div class="col d-flex justify-content-end">
                    <a href="{% url 'user-add'%}?status=patient" class="btn btn-success my-user-button">Dodaj</a>
                </div>
            </div>
            <div class="row my-div-header">
                <div class="col">
                    {% if message == 'actually_patient' %}
                        <a href="{% url 'patient-list'%}" class="btn btn-success">Wszyscy</a>
                        <a href="{% url 'patient-list'%}?search=actually_patient" class="btn btn-outline-success">Obecni</a>
                    {% else %}
                        <a href="{% url 'patient-list'%}" class="btn btn-outline-success">Wszyscy</a>
                        <a href="{% url 'patient-list'%}?search=actually_patient" class="btn btn-success">Obecni</a>
                    {% endif %}
                </div>
                <div class="col d-flex justify-content-end">
                    <form action="{% url 'patient-list' %}" method="GET">
                        <input type="text" name="search" id="search" placeholder="Podaj nazwisko">
                        <button type="submit" class="btn btn-success">Szukaj</button>
                    </form>
                </div>
            </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr class="d-flex flex-wrap">
                    {% if message == 'actually_patient' %}
                        <th class="col-1">POKÓJ</th>
                    {% else %}
                        <th class="col-1">LP</th>
                    {% endif %}
                    <th class="col-4">IMIĘ I NAZWISKO</th>
                    <th class="col-3">EMAIL</th>
                    <th class="col-2">NR TELEFONU</th>
                    <th class="col-1 text-center">AKTYWNY</th>
                    <th class="col-1 text-center">#</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                    <tr class="d-flex flex-wrap">
                        <td class="col-1">{{ user.counter }}</td>
                        <th class="col-4">
                            {% if message == 'actually_patient' or message_employee %}
                                <a href="{% url 'user-timetable' pk=user.id %}">{{ user }}</a>
                            {% else %}
                                <a href="{% url 'user-reservation' pk=user.id %}">{{ user }}</a>
                            {% endif %}
                        </th>
                        <td class="col-3">{{ user.email }}</td>
                        <td class="col-2">{{ user.phone }}</td>
                        <td class="col-1 text-center">
                            {% if user.is_active %}
                                &check;
                            {% else %}
                                &cross;
                            {% endif %}
                        </td>
                        <td class="col-1 d-flex justify-content-center">
                            <a class="btn btn-danger my-user-button" href="{% url 'user-delete' %}?user_id={{user.id}}&next={{ request.get_full_path }}">Usuń</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td class="col-12" colspan="5">Brak osób w bazie</td></tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <div>
                <ul class="pagination justify-content-center">
                    {% if page_obj.number|add:'-2' > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:'-5' }}{% if message %}&search={{ message }}{% endif %}">&hellip;</a>
                        </li>
                    {% endif %}
                    {% if page_obj.paginator.num_pages <= 1 %}
                        {{ pass }}
                    {% else %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ i }}</span>
                                </li>
                            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if message %}&search={{ message }}{% endif %}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:'5' }}{% if message %}&search={{ message }}{% endif %}">&hellip;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}