{% extends 'base.html' %}
{% block title %} User Add {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container my-div-container">
        <div class="row my-div-header">
            <div class="col">
                <h4>Dodaj osobę</h4>
            </div>
        </div>
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            <div class="row my-form-div-row">
                <div class="col-6">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-div-row">
                <div class="col-6">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.phone|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-div-row">
                <div class="col-6">
                    {{ form.status|as_crispy_field }}
                </div>
            </div>
            <div class="row my-form-div-row">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="Dodaj">
                </div>
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-danger" onclick="history.back();">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}