body {
    background: #abbaab;
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);
    background: linear-gradient(to left, #ffffff, #abbaab);
}


/*.footer {*/
/*    !*position: absolute;*!*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 60px;*/
/*    line-height: 60px;*/
/*    !*background-color: #f5f5f5;*!*/
/*    background-color: rgba(245, 245, 245, 0.3);*/
/*}*/

.my-container {
    margin-top: 25px;
}

.my-navbar-text {
    margin: 5px;
}

.my-navbar-button {
    margin: 5px;
}

.my-form {
     margin: 10px;
}

.my-table-button {
    margin: 2.5px 5px;
}

.my-navbar-form {
    margin: 5px;
}

.my-month-button {
    margin-left: 5px;
}
h3 {
    margin-left: 10px;
}

.my-table-border{
    border: double;
}

.my-table-room-list {
    text-align: center;
    vertical-align: middle;
}

.my-search-input {
    margin-right: 5px;
}