body {
    background: #abbaab;
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);
    background: linear-gradient(to left, #ffffff, #abbaab);
}

.my-container {
    margin-top: 10px;
}

.my-navbar-text {
    margin: 5px;
}

.my-navbar-button {
    margin: 5px;
}

.my-form {
     margin: 10px;
}

.my-table-button {
    margin: 2.5px 5px;
}

.my-navbar-form {
    margin: 5px;
}

.my-month-button {
    margin-left: 5px;
}
h3 {
    margin-left: 10px;
}

.my-table-border{
    border: double green;
}

.my-table-room-list {
    text-align: center;
    vertical-align: middle;
}

.my-search-input {
    margin-right: 5px;
}

.my-timetable-patient{
    display: flex;
    align-items: flex-end;
}

.my-timetable-table {
    height: 100px;
    vertical-align: middle;
    align-items: center;
}

.my-h5 {
    margin-left: 10px;
}

.my-change-week {
    margin: 10px;
}

.my-change-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-patient {
    margin: 5px;
    background-color: white;
    height: 35px;
    width: 80%;
    border: black solid 1px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.my-patient_2 {
    margin: 5px;
    background-color: white;
    height: 35px;
    width: 80%;
    border: black solid 1px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
